@import "bootstrap/scss/bootstrap";
@font-face {
    font-family: 'Halyard';
    src: url("../../public/Halyard.otf") format('opentype');
}

@font-face {
    font-family: 'colorful';
    src: url("../../public/colorful.ttf") format('truetype');
}

:root {
    --vtcfontsize: 2.85vw;
    --vtcboxsize: 4.5vw;
    --vtcbox2size: 3vw;
}

body {
    background-color: black;
    font-family: 'Halyard';
    overflow-x: hidden;
}

#allglyph {
    height: 80vh;
    margin-top: 10vh;
    margin-right: 6vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper {
    width: var(--vtcboxsize);
    height: var(--vtcboxsize);
}

.typecard {
    position: relative;
    left: -.5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #373737;
    width: var(--vtcboxsize);
    height: var(--vtcboxsize);
    font-size: var(--vtcfontsize);
    font-family: 'colorful';
    color: white;
    background-color: black;
    transition: background-color 0.5s ease;
}

.typecard:hover {
    background-color: white;
    color: black;
}

.glyph {
    position: relative;
    top: 0.2vw;
    cursor: default;
}

#largeglyphwrapper {
    margin-top: 10vh;
    margin-right: 4vw;
    margin-left: 10vw;
    background-color: white;
    color: black;
    font-family: 'colorful';
    text-align: center;
    font-size: 50vh;
    height: 80vh;
}

#largeglyph {
    margin-top: 2vh;
    cursor: default;
}

.grid {
    // margin
    margin-bottom: var(--vtcbox2size);
    overflow-x: hidden;
}

// Taken from https://blog.hubspot.com/website/hide-scrollbar-css

/* hide scrollbar but allow scrolling */
#allglyph {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

#allglyph::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

#lastgrid {
    margin-bottom: 0;
}
