@import "bootstrap/scss/bootstrap";
@font-face {
    font-family: 'Halyard';
    src: url('../../public/Halyard.otf') format('opentype');
}

@font-face {
    font-family: 'colorful';
    src: url('../../public/colorful.ttf') format('truetype');
}

.sectiontitle {
    margin-top: 10px;
    margin-left: 20px;
}

body {
    background-color: #FFF01D;
    font-family: 'Halyard';
    margin-bottom: 70px;
}

#allglyph {
    height: 80vh;
    margin-top: 70px;
}

// #firstsubtitle {
//     margin-top: 0px;
// }
// .subtitle {
//     margin-top: 70px;
//     margin-bottom: 20px;
// }
.wrapper {
    width: 65px;
    height: 65px;
}

.typecard {
    border-style: solid;
    border-width: 2px;
    border-color: #B1A70F;
    border-radius: 10px;
    width: 61px;
    height: 61px;
    font-size: 38px;
    font-family: 'colorful';
}

.typecard:hover {
    background-color: white;
    border-color: black;
    // z-index: 0;
}

#largeglyphwrapper {
    margin-top: 70px;
    margin-right: 45px;
    background-color: black;
    color: white;
    border-radius: 10px;
    // width: 100%;
    // height: 30vw;
    font-family: 'colorful';
    font-size: 50vh
}

#largeglyph {
    // height: 100%;
    // height: 100%;
}

hr {
    padding: 0;
    margin-top: 0px;
}

.grid {
    // margin
    margin-bottom: 25px;
}